
@font-face {
    font-family: Rocket;
    src: url("../fonts/Rocket-Regular.otf");
}

@font-face {
    font-family: White-on-black;
    src: url("../fonts/White-On-Black.ttf");
}

.caja{
    width:274px;
    height:150px;
    border:6px double #c4ab80;
    object-fit: cover;
    position:relative;
    background:#fff;
}

.adorno{
    position:absolute;
    bottom:-14px;      /* mitad fuera de la caja */
    left:50%;
    transform:translateX(-50%);
    background:transparent;   /* tapa el borde detrás del icono */
    padding:0 8px;
}

.adorno i{
    font-size:24px;
    color:#947f5c;
}

.overlay{
    font-family: Rocket;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-size: 35px;
    background:rgba(0,0,0,0.5); /* oscurece el GIF */
    color:rgb(199, 72, 72);

    display:flex;
    align-items:center;
    justify-content:center;

    opacity:0;
    transition:0.3s;
    display: flex;
    flex-direction: column;
}

/* aparece al pasar el ratón */
.caja:hover .overlay{
    opacity:1;
}

#name-pj {
    color: rgb(236, 208, 47);
    font-family: White-on-black;
    font-size: 24px;
    margin-top: -10px;    
}